
Dependent- Temperature (main.temp)

Independent 
datetime -YYYY-MM-DD HH:MM:SS UTC+08:00 <br/>
main.pressure Atmospheric pressure on the sea level, hPa<br/>
main.humidity Humidity, %<br/>
clouds.all Cloudiness, %<br/>
weather.id Weather condition <br/>
wind.speed Wind speed. <br/>

In [260]:
import warnings
import pandas as pd # type: ignore
warnings.filterwarnings("ignore")


df = pd.read_csv ('dataset/202311/202311_CombinedData.csv/202311_CombinedData.csv')
#select the column
df = df[['datetime', 'main.temp', 'main.pressure', 'main.humidity', 'clouds.all', 'weather.main', 'wind.speed', 'city_name']]
df

,datetime,main.temp,main.pressure,main.humidity,clouds.all,weather.main,wind.speed,city_name
0,2023-11-06 15:35:43+08:00,30.52,1009.0,70.0,93.0,Clouds,1.82,Alaminos
1,2023-11-06 15:45:07+08:00,35.25,1010.0,55.0,40.0,Clouds,3.09,Angeles City
2,2023-11-06 15:45:09+08:00,29.74,1010.0,72.0,14.0,Clouds,2.89,Antipolo
3,2023-11-06 15:45:11+08:00,29.01,1009.0,78.0,66.0,Clouds,5.41,Bacolod
4,2023-11-06 15:45:12+08:00,32.05,1009.0,72.0,20.0,Clouds,2.57,Bacoor
...,...,...,...,...,...,...,...,...
14466,2023-11-24 00:04:56+08:00,25.08,1009.0,92.0,6.0,Clear,1.65,Valencia
14467,2023-11-24 00:04:59+08:00,27.11,1011.0,87.0,99.0,Clouds,2.21,Valenzuela
14468,2023-11-24 00:05:00+08:00,26.65,1009.0,89.0,18.0,Clouds,3.08,Victorias
14469,2023-11-24 00:05:03+08:00,25.50,1011.0,84.0,45.0,Clouds,2.98,Vigan
14470,2023-11-24 00:05:05+08:00,24.99,1010.0,100.0,100.0,Thunderstorm,2.06,Zamboanga City

In [261]:
 #Data on specific city for example CAMANAVA

cities = ['Caloocan City', 'Malabon', 'Navotas', 'Valenzuela']

# Filter the DataFrame
df_camanava = df[df['city_name'].isin(cities)]

# Display the DataFrame
df_camanava

,datetime,main.temp,main.pressure,main.humidity,clouds.all,weather.main,wind.speed,city_name
28,2023-11-06 15:45:57+08:00,33.36,1010.0,68.0,20.0,Clouds,4.02,Caloocan City
78,2023-11-06 15:47:35+08:00,30.00,1009.0,74.0,81.0,Clouds,2.06,Malabon
89,2023-11-06 15:38:29+08:00,33.32,1010.0,66.0,20.0,Clouds,2.57,Navotas
134,2023-11-06 15:39:56+08:00,33.33,1010.0,66.0,50.0,Clouds,0.89,Valenzuela
166,2023-11-06 18:01:20+08:00,31.10,1010.0,72.0,20.0,Clouds,4.12,Caloocan City
...,...,...,...,...,...,...,...,...
14329,2023-11-23 21:05:10+08:00,26.94,1012.0,88.0,99.0,Rain,2.50,Valenzuela
14361,2023-11-24 00:01:24+08:00,27.12,1012.0,91.0,75.0,Clouds,1.54,Caloocan City
14411,2023-11-24 00:03:06+08:00,26.03,1011.0,82.0,55.0,Clouds,1.90,Malabon
14422,2023-11-24 00:03:31+08:00,27.13,1012.0,91.0,100.0,Clouds,1.03,Navotas
14467,2023-11-24 00:04:59+08:00,27.11,1011.0,87.0,99.0,Clouds,2.21,Valenzuela

In [262]:
#Checking if there is null value in the dataset
df_camanava.isnull().any()

datetime         False
main.temp        False
main.pressure    False
main.humidity    False
clouds.all       False
weather.main     False
wind.speed       False
city_name        False
dtype: bool

In [263]:
#Count each city
city_counts = df_camanava['city_name'].value_counts()
city_counts

city_name
Caloocan City    105
Malabon          105
Navotas          105
Valenzuela       105
Name: count, dtype: int64

In [264]:
df_camanava['weather.main'] = df_camanava['weather.main'].astype(str)

# Extract the 'weather.main' column as a pandas Series
weather_main_series = df_camanava['weather.main']

# Convert the Series to a Python list
weather_main_list = weather_main_series.tolist()

# Print the list
print(weather_main_list)

['Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Rain', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Rain', 'Clouds', 'Rain', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Rain', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clear', 'Clouds', 'Clouds', 'Clouds', 'Clear', 'Clouds', 'Clouds', 'Clouds', 'Clear', 'Clouds', 'Clouds', 'Clouds', 'Clear', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Rain', 'Clouds', 'Clouds', 'Clouds', 'Rain', 'Rain', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clear', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Rain', 'Clouds', 'Rain', 'Rain', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Rain', 'Clouds', 'Rain', 'Rain', 'Clouds', 'Clouds', 'Clouds', 'Clouds']

In [265]:
import pandas as pd
# Setting datetime as index
# Convert the 'datetime' column to datetime format
df_camanava['datetime'] = pd.to_datetime(df_camanava['datetime'])
df_camanava.set_index('datetime', inplace=True)

df_camanava

,main.temp,main.pressure,main.humidity,clouds.all,weather.main,wind.speed,city_name
datetime,,,,,,,
2023-11-06 15:45:57+08:00,33.36,1010.0,68.0,20.0,Clouds,4.02,Caloocan City
2023-11-06 15:47:35+08:00,30.00,1009.0,74.0,81.0,Clouds,2.06,Malabon
2023-11-06 15:38:29+08:00,33.32,1010.0,66.0,20.0,Clouds,2.57,Navotas
2023-11-06 15:39:56+08:00,33.33,1010.0,66.0,50.0,Clouds,0.89,Valenzuela
2023-11-06 18:01:20+08:00,31.10,1010.0,72.0,20.0,Clouds,4.12,Caloocan City
...,...,...,...,...,...,...,...
2023-11-23 21:05:10+08:00,26.94,1012.0,88.0,99.0,Rain,2.50,Valenzuela
2023-11-24 00:01:24+08:00,27.12,1012.0,91.0,75.0,Clouds,1.54,Caloocan City
2023-11-24 00:03:06+08:00,26.03,1011.0,82.0,55.0,Clouds,1.90,Malabon
2023-11-24 00:03:31+08:00,27.13,1012.0,91.0,100.0,Clouds,1.03,Navotas
2023-11-24 00:04:59+08:00,27.11,1011.0,87.0,99.0,Clouds,2.21,Valenzuela

In [266]:
# Weather Counts for validation
clouds_count = weather_main_list.count('Clouds')
rain_count = weather_main_list.count('Rain')
clear_count = weather_main_list.count('Clear')


print("Clouds count:", clouds_count)
print("Rain count:", rain_count)
print("Clear count:", clear_count)

Clouds count: 402
Rain count: 13
Clear count: 5

In [267]:
"""#This converts the weather main into numerical data
from sklearn.preprocessing import LabelEncoder # type: ignore

le = LabelEncoder()

df_camanava['weather.main'] = le.fit_transform(df_camanava['weather.main'])
df_camanava
# Weather Main
0 - Clear , 1 - Clouds, 2 - Rain
"""
#Using one hot encoder for categorical data
from sklearn.preprocessing import OneHotEncoder# type: ignore

ohe = OneHotEncoder(sparse=False)
one_hot = ohe.fit_transform(df_camanava[['weather.main']])

# Creating new columns for dataframe in weather (Eg. weather.Clear, weather.Clouds, weather.Rain)
columns = ['weather.' + str(category) for category in ohe.categories_[0]]
df_one_hot = pd.DataFrame(one_hot, columns=columns, index=df_camanava.index)

# Replacing the weather.main to one hot encoded 
df_camanava = pd.concat([df_camanava, df_one_hot], axis=1)
df_camanava = df_camanava.drop(['weather.main'], axis=1)

cols = list(df_camanava.columns)
cols.remove('city_name')
df_camanava = df_camanava[cols + ['city_name']]
df_camanava = df_camanava.drop('city_name', axis=1)

df_camanava

,main.temp,main.pressure,main.humidity,clouds.all,wind.speed,weather.Clear,weather.Clouds,weather.Rain
datetime,,,,,,,,
2023-11-06 15:45:57+08:00,33.36,1010.0,68.0,20.0,4.02,0.0,1.0,0.0
2023-11-06 15:47:35+08:00,30.00,1009.0,74.0,81.0,2.06,0.0,1.0,0.0
2023-11-06 15:38:29+08:00,33.32,1010.0,66.0,20.0,2.57,0.0,1.0,0.0
2023-11-06 15:39:56+08:00,33.33,1010.0,66.0,50.0,0.89,0.0,1.0,0.0
2023-11-06 18:01:20+08:00,31.10,1010.0,72.0,20.0,4.12,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
2023-11-23 21:05:10+08:00,26.94,1012.0,88.0,99.0,2.50,0.0,0.0,1.0
2023-11-24 00:01:24+08:00,27.12,1012.0,91.0,75.0,1.54,0.0,1.0,0.0
2023-11-24 00:03:06+08:00,26.03,1011.0,82.0,55.0,1.90,0.0,1.0,0.0
2023-11-24 00:03:31+08:00,27.13,1012.0,91.0,100.0,1.03,0.0,1.0,0.0
2023-11-24 00:04:59+08:00,27.11,1011.0,87.0,99.0,2.21,0.0,1.0,0.0

In [268]:
"""
# Count the frequency of each numerical number in the 'weather.main' column
numerical_counts = df_camanava['weather.main'].value_counts()

# Print the frequency counts
print(numerical_counts)
"""

"\n# Count the frequency of each numerical number in the 'weather.main' column\nnumerical_counts = df_camanava['weather.main'].value_counts()\n\n# Print the frequency counts\nprint(numerical_counts)\n"

In [269]:
# Saving the data as a CSV file
import os
file_path = "E:/4-4/regression/cleaned dataset.csv"
df_camanava.to_csv(file_path, index=True)